html {
  font-size: 62.5%;
}

p {
  font-size: 18px;
  color: #93CCEA;
}

p #addNote {
  font-size: 20px;
  color: blue;
}

p::selection {
  color: red;
  background-color: silver;
}

ul {
  font-size: 18px;
  color: blue;
}

ol {
  list-style-type: decimal;
  font-size: 16px;
  color: blue;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ul {
  list-style-type: circle;
}

.alignMiddle {
  vertical-align: middle;
}

#lnkHome:hover {
  background-color: lightgray;
  color: black;
}

#lnkList:hover {
  background-color: silver;
  color: black;
}

#lnkTable:hover {
  background-color: darkgray;
  color: white;
}

#lnkGrid:hover {
  background-color: gray;
  color: white;
}

/* Mixin itself  */
/* Usage as a mixin  */
.clearAll::after {
  display: block;
  content: "";
  clear: both;
}

.btnRowRes, .navItem, .btnRow, .mainContainer {
  margin: 0px 100px;
  padding: 5px;
  border-style: groove;
  border-color: blue;
  border-width: 5px;
}

.btnRow {
  border-color: green;
}

.navItem {
  width: 100px;
  display: inline-block;
  margin: 5px 5px;
  padding: 2px;
  Text-align: center;
  border-width: 1px;
}

div #cRight {
  color: pink;
  text-align: center;
}

.ColHeading {
  font-size: 18px;
  color: blue;
}

.RowHeading {
  font-size: 20px;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.btnRowRes {
  border-color: green;
  margin: 0;
}

.btn {
  width: 300px;
}

.btnResponsive {
  overflow: hidden;
  width: 150px;
}

table {
  width: 100%;
  font-size: 18px;
}

caption {
  caption-side: top;
  font-size: 20px;
  color: blue;
  font-weight: bold;
  text-align: left;
}

tr:nth-child(even) {
  background: #93CCEA;
}

tr:nth-child(odd) {
  background: #C8C8CD;
}

.evenRow {
  margin: 0px 5px;
  background-color: #93CCEA;
}

.oddRow {
  margin: 0px 5px;
  background-color: #C8C8CD;
}

@media (max-width: 480px) {
  .btn {
    overflow: hidden;
    background-color: pink;
    margin: 3px 2px;
    width: 100%;
  }

  .btnResponsive {
    overflow: hidden;
    background-color: pink;
    margin: 3px 2px;
    width: 100%;
  }

  /*
  	div {#StateName { visibility:hidden;} 
  	}  
  	div {#StateName:before {
  		content: "State Full Name";
  		visibility:visible
  		}
  	}

  	div {#StateAbbrev{ visibility:hidden;} 
  	}  
  	div {#StateAbbrev:before {
  		content: "State Abbreviation";
  		visibility:visible
  		}
  	}

  	div {#StateCapital{ visibility:hidden;} 
  	}  
  	div {#StateCapital:before {
  		content: "State Capital";
  		visibility:visible
  		}
  	}

  	div {#StatePopul{ visibility:hidden;} 
  	}  
  	div {#StatePopul:before {
  		content: "Population";
  		visibility:visible
  		}
  	} 
  */
  .ColHeading {
    height: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
@media screen and (min-width: 481px) and (max-width: 889px) {
  .btn {
    overflow: hidden;
    background-color: yellow;
    color: black;
    margin: 3px 30px;
    width: 100px;
  }

  .mainContainer {
    padding: 0 20px;
  }

  .btnResponsive {
    overflow: hidden;
    background-color: teal;
    margin: 3px 20px;
    width: 100%;
  }

  /*	
    #StateName { visibility:hidden;}
  	#StateName::before {
  		content: "Name";
  		visibility:visible
   }

  	#StateAbbrev{ visibility:hidden;}  
  	#StateAbbrev:before {
  		content: "Abbr";
  		visibility:visible
  		}


  	#StateCapital{ visibility:hidden;}  
  	#StateCapital:before {
  		content: "Capital";
  		visibility:visible
  		}

  	#StatePopul{ visibility:hidden;}  
  	#StatePopul:before {
  		content: "Pop";
  		visibility:visible
  		}
  */
  .ColHeading {
    height: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
@media screen and (min-width: 890px) and (max-width: 1020px) {
  .btn {
    overflow: hidden;
    width: 200px;
    background-color: silver;
  }

  .btnResponsive {
    overflow: hidden;
    background-color: purple;
    width: 125px;
  }

  .ColHeading {
    height: 20px;
    font-size: 14px;
    font-weight: normal;
  }
}
@media screen and (min-width: 1020px) {
  .btn {
    overflow: hidden;
    width: 200px;
    background-color: silver;
  }

  .btnResponsive {
    overflow: hidden;
    background-color: silver;
    width: 125px;
    margin: 0 20;
  }
}
/*Control the column headers
<  575 Full Text
>= 576 and < 890 abbreviation 
>= 890 full text
*/
@media (max-width: 575px) {
  div #StateName {
    visibility: hidden;
  }

  div #StateName:before {
    content: "State Full Name";
    visibility: visible;
    padding-left: 10px;
  }

  div #StateAbbrev {
    visibility: hidden;
  }

  div #StateAbbrev:before {
    content: "State Abbreviation";
    visibility: visible;
    padding-left: 10px;
  }

  div #StateCapital {
    visibility: hidden;
  }

  div #StateCapital:before {
    content: "State Capital";
    visibility: visible;
    padding-left: 10px;
  }

  div #StatePopul {
    visibility: hidden;
  }

  div #StatePopul:before {
    content: "Population";
    visibility: visible;
    padding-left: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 889px) {
  #StateName {
    visibility: hidden;
  }

  #StateName::before {
    content: "Name";
    padding-left: 5px;
    visibility: visible;
  }

  #StateAbbrev {
    visibility: hidden;
  }

  #StateAbbrev:before {
    content: "Abbr";
    visibility: visible;
  }

  #StateCapital {
    visibility: hidden;
  }

  #StateCapital:before {
    content: "Capital";
    visibility: visible;
  }

  #StatePopul {
    visibility: hidden;
  }

  #StatePopul:before {
    content: "Pop";
    visibility: visible;
  }
}

/*# sourceMappingURL=styles.css.map */
