$colorBlack: black;
$colorBlue: blue;
$colorLtBlue:#93CCEA;
$colorGreen: green; 
$colorPink:pink;
$colorRowEven:#93CCEA;
$colorRowOdd:#C8C8CD;
$colorWhite: white;
$colorYellow:yellow;

$tinyFont:14px;
$smallFont:16px;
$largeFont:18px;
$giantFont:20px;

html{
	font-size:62.5%;
}

p{font-size:$largeFont;
   color: $colorLtBlue;
}
p{#addNote{font-size:$giantFont;
    color: $colorBlue;
}
}

ul {
    font-size:$largeFont;
    color: $colorBlue;
}

ol {
	list-style-type: decimal;
    font-size: $smallFont;
    color: $colorBlue;
   ol{list-style-type: lower-alpha;
      ul{list-style-type: circle;}
      }
}

.alignMiddle{
	vertical-align: middle;
}

/* Mixin itself  */
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/* Usage as a mixin  */
.clearAll {
  @include clearfix;
}

%containers-shared {
	margin:0px 100px;
	padding:5px;
	border-style: groove;
    border-color: $colorBlue;
    border-width: 5px;
}

.mainContainer {
  @extend %containers-shared;
}


.btnRow{
  @extend %containers-shared;
  border-color: $colorGreen;
}

div{#cRight{color:$colorPink;
	text-align:center;}
}

.ColHeading{
	 font-size:$largeFont;
	 color: $colorBlue;
}

.RowHeading{
	 font-size:$giantFont;
	 font-weight:bold;
	 color: $colorBlue;
	 text-align:center;
}

.btnRowRes{
  @extend %containers-shared;
  border-color: $colorGreen;
  margin:0;
}

.btn{
	width:300px;
}

.btnResponsive{  
	overflow: hidden;
	width: 150px;
}

table{
	width:100%;
	font-size: $largeFont;
}

caption{
	caption-side:top;
	font-size:$giantFont;
    color: $colorBlue;
    font-weight: bold;
    text-align: left;
}

tr:nth-child(even) {background:$colorRowEven;}
tr:nth-child(odd) {background: $colorRowOdd;}

.evenRow {  margin:0px 5px; background-color: $colorRowEven;} 
.oddRow { margin:0px 5px; background-color: $colorRowOdd;}  

@media screen and (max-width : 480px){
	.btn{
		overflow: hidden;
		background-color: $colorPink;
		margin:3px 2px;
		width:100%;
		}  
	.btnResponsive {
		overflow: hidden;
		background-color: $colorPink;
		margin:3px 2px;
		width:100%;   
	}


	div {#StateName { visibility:hidden;} 
	}  
	div {#StateName:before {
		content: "Name";
		visibility:visible
		}
	}

	div {#StateAbbrev{ visibility:hidden;} 
	}  
	div {#StateAbbrev:before {
		content: "Abbr";
		visibility:visible
		}
	}
	
	div {#StateCapital{ visibility:hidden;} 
	}  
	div {#StateCapital:before {
		content: "Capital";
		visibility:visible
		}
	}
	
	div {#StatePopul{ visibility:hidden;} 
	}  
	div {#StatePopul:before {
		content: "Pop";
		visibility:visible
		}
	} 
	
	.ColHeading{
		height:20px;
		font-size:$tinyFont;
		font-weight:normal;
		}
}                                    

@media screen and (min-width : 481px) and (max-width : 889px){
	.btn{
		overflow: hidden;
		background-color:$colorYellow;
		color:$colorBlack;
		margin:3px 30px;
		width:100px;
		}  
		
	.mainContainer{
	padding: 0 20px;
	}	
		
	.btnResponsive {
		overflow: hidden;
		background-color: teal;
		margin:3px 20px;
		width:100%;   
	}

	div {#StateName { visibility:hidden;} 
	}  
	div {#StateName:before {
		content: "Name";
		visibility:visible
		}
	}

	div {#StateAbbrev{ visibility:hidden;} 
	}  
	div {#StateAbbrev:before {
		content: "Abbr";
		visibility:visible
		}
	}
	
	div {#StateCapital{ visibility:hidden;} 
	}  
	div {#StateCapital:before {
		content: "Capital";
		visibility:visible
		}
	}
	
	div {#StatePopul{ visibility:hidden;} 
	}  
	div {#StatePopul:before {
		content: "Pop";
		visibility:visible
		}
	}
	
	.ColHeading{
		height:20px;
		font-size:$tinyFont;
		font-weight:normal;
	}
	
}

@media screen and (min-width : 890px) and (max-width : 1020px) {
	.btn{
		overflow: hidden;
		width:200px;
		background-color: silver;
	}
	.btnResponsive {
		overflow: hidden;
		background-color: purple;
		width:125px;   
	}
	.ColHeading{
		height:20px;
		font-size:$tinyFont;
		font-weight:normal;
		}
}

@media screen and (min-width : 1020px) {
	.btn{
		overflow: hidden;
		width:200px;
		background-color: silver;
	}
	.btnResponsive {
		overflow: hidden;
		background-color: silver;
		width:125px; 
		margin:0 20;  
	}
}
